[DEFAULT]
[api]
auth_strategy = keystone
[cors]
[keystone_authtoken]
www_authenticate_uri = http://controller:5000/v3/
auth_url = http://controller:5000/
memcached_servers = controller:11211
auth_type = password
project_domain_name = {{ project_domain_name }}
user_domain_name = {{ user_domain_name }}
project_name = {{ project_name }}
username = placement
password = {{ placement_identity_password }}
[oslo_middleware]
[oslo_policy]
[placement]
[placement_database]
connection = mysql+pymysql://placement:{{ placement_mariadb_password }}@controller/placement
[profiler]
