[DEFAULT]
heat_metadata_server_url = http://controller:8000/
heat_waitcondition_server_url = http://controller:8000/v1/waitcondition/
stack_domain_admin = heat_domain_admin
stack_domain_admin_password = {{ heat_domain_identity_password }}
stack_user_domain_name = heat
transport_url = rabbit://heat:{{ heat_rabbit_password }}@controller:5672/
[cache]
[cors]
[healthcheck]
[keystone_authtoken]
www_authenticate_uri = http://controller:5000/v3/
auth_url = http://controller:5000/
memcached_servers = controller:11211
auth_type = password
project_domain_name = {{ project_domain_name }}
user_domain_name = {{ user_domain_name }}
project_name = {{ project_name }}
username = heat
password = {{ heat_identity_password }}
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_middleware]
[oslo_policy]
[oslo_reports]
[oslo_versionedobjects]
[profiler]
[ssl]
[database]
connection = mysql+pymysql://heat:{{ heat_mariadb_password }}@controller/heat
[trustee]
auth_type = password
auth_url = http://controller:5000/
username = heat
password = {{ heat_identity_password }}
user_domain_name = {{ user_domain_name }}
[clients_keystone]
auth_uri = http://controller:5000/
