[DEFAULT]
pybasedir = /usr/lib/python3/dist-packages/magnum
bindir = /usr/bin
state_path = /var/lib/magnum
transport_url = rabbit://magnum:{{ magnum_rabbit_password }}@controller:5672/
[api]
host = {{ ansible_host }}
[barbican_client]
[certificates]
cert_manager_type = x509keypair
[cinder]
[cinder_client]
region_name = RegionOne
[cluster]
[cluster_heat]
[cluster_template]
[conductor]
[cors]
[database]
connection = mysql+pymysql://magnum:{{ magnum_mariadb_password }}@controller/magnum
[docker]
[docker_registry]
[drivers]
[glance_client]
[heat_client]
[keystone_auth]
[keystone_authtoken]
memcached_servers = controller:11211
auth_version = v3
www_authenticate_uri = http://controller:5000/v3/
project_domain_id = default
project_name = {{ project_name }}
user_domain_id = default
password = {{ magnum_identity_password }}
username = magnum
auth_url = http://controller:5000/
auth_type = password
admin_user = magnum
admin_password = {{ magnum_identity_password }}
admin_tenant_name = service
[kubernetes]
[magnum_client]
[neutron_client]
[nova_client]
[octavia_client]
[oslo_concurrency]
lock_path = /var/lock/magnum
[oslo_messaging_kafka]
[oslo_messaging_notifications]
driver = messaging
[oslo_messaging_rabbit]
[oslo_policy]
[profiler]
[quotas]
[trust]
trustee_domain_name = magnum
trustee_domain_admin_name = magnum_domain_admin
trustee_domain_admin_password = {{ magnum_domain_identity_password }}
trustee_keystone_interface = public
[x509]
