[DEFAULT]
core_plugin = ml2
transport_url = rabbit://neutron:{{ neutron_rabbit_password }}@controller:5672/
[agent]
root_helper = "sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf"
[cache]
[cors]
[database]
connection = sqlite:////var/lib/neutron/neutron.sqlite
[designate]
[experimental]
[healthcheck]
[ironic]
[keystone_authtoken]
[nova]
[oslo_concurrency]
lock_path = /var/lib/neutron/tmp
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_middleware]
[oslo_policy]
[oslo_reports]
[oslo_versionedobjects]
[placement]
[privsep]
[profiler]
[quotas]
[ssl]
