[DEFAULT]
log_dir = /var/log/nova
lock_path = /var/lock/nova
my_ip = {{ ansible_host }}
state_path = /var/lib/nova
log_dir = /var/log/nova
transport_url = rabbit://nova:{{ nova_rabbit_password }}@controller:5672/
[api]
auth_strategy = keystone
[api_database]
connection = mysql+pymysql://nova:{{ nova_mariadb_password }}@controller/nova_api
[barbican]
[barbican_service_user]
[cache]
[cinder]
[compute]
[conductor]
[console]
[consoleauth]
[cors]
[cyborg]
[database]
connection = mysql+pymysql://nova:{{ nova_mariadb_password }}@controller/nova
[devices]
[ephemeral_storage_encryption]
[filter_scheduler]
[glance]
api_servers = http://controller:9292
[guestfs]
[healthcheck]
[image_cache]
[ironic]
[key_manager]
[keystone]
[keystone_authtoken]
www_authenticate_uri = http://controller:5000/v3/
auth_url = http://controller:5000/
memcached_servers = controller:11211
auth_type = password
project_domain_name = {{ project_domain_name }}
user_domain_name = {{ user_domain_name }}
project_name = {{ project_name }}
username = nova
password = {{ nova_identity_password }}
[libvirt]
[manila]
[metrics]
[mks]
[neutron]
auth_url = http://controller:5000
auth_type = password
project_domain_name = {{ project_domain_name }}
user_domain_name = {{ user_domain_name }}
region_name = RegionOne
project_name = {{ project_name }}
username = neutron
password = {{ neutron_identity_password }}
service_metadata_proxy = true
metadata_proxy_shared_secret = {{ neutron_metadata_proxy_secret }}
[notifications]
[os_brick]
[os_vif_linux_bridge]
[os_vif_ovs]
[oslo_concurrency]
lock_path = /var/lib/nova/tmp
[oslo_limit]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_middleware]
[oslo_policy]
[oslo_reports]
[oslo_versionedobjects]
[pci]
[placement]
region_name = RegionOne
project_domain_name = {{ project_domain_name }}
project_name = {{ project_name }}
auth_type = password
user_domain_name = {{ user_domain_name }}
auth_url = http://controller:5000/v3
username = placement
password = {{ placement_identity_password }}
[privsep]
[profiler]
[quota]
[remote_debug]
[scheduler]
[serial_console]
[service_user]
send_service_user_token = true
auth_url = http://controller:5000/identity
auth_strategy = keystone
auth_type = password
project_domain_name = {{ project_domain_name }}
project_name = {{ project_name }}
user_domain_name = {{ user_domain_name }}
username = nova
password = {{ nova_identity_password }}
[spice]
[upgrade_levels]
[vault]
[vendordata_dynamic_auth]
[vmware]
[vnc]
enabled = true
server_listen = $my_ip
server_proxyclient_address = $my_ip
[workarounds]
[wsgi]
[zvm]
[cells]
enable = False
[os_region_name]
openstack = 
